.monthlyTbl .ant-table-thead > tr > th {
  background:#61C0C2 !important;
  font-family:"Roboto",sans-serif;
}

.monthlyTbl .ant-table-cell {
  background-color: #ffff !important;
 
}

.monthlyTbl .ant-table-cell {
  margin-left: "1rem" !important;
 
}
.fixed-table-container {
  height: 400px; 
  overflow-y: auto;
}
.monthlyTbl {
    background-color: #fff;
  }
.shadowbox {
  border-color: #60a5fa;
}

.custom-modal {
    width: 100% !important; /* Set the desired width percentage */
    max-width: 90%; /* Set the maximum width if needed */
    top: 10%; /* Adjust the top position to center vertically */
  }

  .ant-btn.add-rpt-btn{
    font-size: 0.875rem;
    font-family: 'Roboto',sans-serif;
    width: 8rem;
    height: 34px;
    padding: 0px 7px;
    border-radius: 9px;
    background-color: rgb(102, 108, 255) !important;
    margin-right: 0.5rem;
    
  }
  

  .empMonthlyReport .ant-table {
    width: 100%; 
    margin: 0; 
  } 
  
  
  .empMonthlyReport .ant-table-content {
    overflow-x: auto;
  }
  

 .empMonthlyReport .ant-table-container {
    display: flex;
    justify-content: center;
  }
  
  /* Center the table header text */
  /* .ant-table-thead th {
    text-align: center;
  } */
  .editable-table {
    width: 100%; /* Set the width to 100% */
  }


.table-monthly .ant-table-title{
  font-size: larger;
  font-weight: bold;
  padding-left: 35%;
  background-color: #26dbc6   ;
  color:white;
  
}

.table-monthly .ant-table-cell{
  border-radius: 0%  !important; 
}
/* .table-monthly .ant-table-thead>tr>th{

 

} */
.table-monthly .ant-table-tbody>tr>td{
  text-align: center;

}

  .TableContainer .ant-table-wrapper .ant-table-container {
    background-color:#cadaed !important; 
    width: 100%;
}

.TableContainer .ant-table-wrapper .ant-table .ant-table-title{
  border-radius: 0% !important;
}
  
.imgandreport{
  display: flex;
  padding:1rem 1rem;
  /* justify-content: center; */
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
  text-align:start;
  word-spacing: 4;
  /* color:rgba(76, 78, 100, 0.87); */
}
  

  
.title{
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 1.2rem;
    font-weight: 500;
 
 
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}



.custom-modal .ant-modal-content {
  margin-bottom: 5rem;
}

.datePicker .ant-picker.css-dev-only-do-not-override-pr0fja{
  width: 100%;
    margin-bottom: 1rem;
    margin-top: 0.7rem;
}
.Main {
  background-color: #5d6d7a;
}
  
/* New code* */

.empreport-header-card.ant-card .ant-card-body{
  /* background-color: red; */
 padding:0 !important;
 border-radius: 11px;
}
  
.nine-box-img.ant-card{
  height: 24.5rem !important;

}

.table-card.ant-card{
  height: 24.5rem !important;
  /* max-height: 25.5rem; */

}


table.ant-picker-content{
  height:10rem !important;
}


.calender-modal .ant-modal-content{
  min-height: 320px; 

}

.date-pick .ant-picker{
  margin: 1rem !important;
}


.calender-modal .ant-modal-title{
  color:black !important;
  
}
.calImg{
  display: flex;
  align-items: center;
  justify-content: center ;
}


.label-datepicker{
  width: 6rem;
  padding-top: 0%;
  font-size: 18px;
  margin-bottom: 8px; 
}

.datePicker-div{
  width: 100% !important;
  margin-bottom: 1rem !important;
  margin-top: 0.7rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2.5rem;
  
  
}