.modal-title {
  color: black;
  font-size: 22px;
  display: flex;
  justify-content: center;
  height: 100%;
}
.close-btn {
  width: 15%;
  background: #666cff;
}
.close-btn:hover {
  background: #565cff !important;
}

/* BASIC INFO */
.modal-basicinfo .ant-descriptions-view {
  width: 95%;
  margin: 0 0 1% 3%;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.modal-basicinfo .ant-descriptions-item-label {
  width: 50%;
}

/* Style for the icon */
.icon-style {
  font-size: 24px;
  vertical-align: middle;
}

/*SKILLS CARDS AND CERTIFICATION*/
.card-container-skills,
.certification-card {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
  margin: 2%;
}

.card-container-skills .ant-card-head {
  background-color: #7fc36d;
}
.card-container-skills .ant-card-body {
  background-color: honeydew;
}

.certification-card .ant-card-head {
  background-color: #eed69c;
}
.certification-card .ant-card-body {
  background-color: seashell;
}
.card-container-skills
  .ant-descriptions-item-container
  .ant-descriptions-item-label {
  color: black !important;
}
.certification-card
  .ant-descriptions-item-container
  .ant-descriptions-item-label {
  color: black !important;
}

.card-extra {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100%;
  margin: -5%;
  padding: 0 8%;
  font-size: 12px !important;
  border-radius: 5px 10px;
  background-color: rgb(65, 65, 65);
  color: white;
}

@media screen and (max-width: 430px) {
  .close-btn {
    width: 25%;
  }
}
