/*drag box*/
     .drag-box{
        /* background-color: red; */
        margin: 3rem 0;
        display:flex;
        place-items: center;
        height:6rem;
        border-radius: 8px;
        padding:1rem;
        border:solid grey;
     }
/*drag box end*/

button.addCertificateClsBtn{
    height: 2.1rem;
    font-size: 13px;
    margin-right: 1.8rem;
}

.cert-modal .ant-modal-content{
    /* height: 21.5rem !important; */
    height: 24.5rem !important;
    width:35rem !important
} 
.cert-modal .ant-modal-content .ant-modal-footer{
    text-align: end !important;
    background: transparent !important;
    margin-top: 100px !important;
} 

/*UPLOAD BUTTON*/
.cert-modal .ant-form .ant-btn-default{
    background-color: #666CFF;
    color:#fff;
    font-size:1rem;
    width:8.5rem;
    height:2.3rem
}
.cert-modal .ant-form .ant-btn-default:hover{
    color:#fff;
}

.add-cert-label  .ant-row.ant-form-item-row{
    display:flex !important;
    flex-direction: column !important;
}

/*CANCEL BUTTON*/
.cert-modal .ant-modal-footer .ant-btn-default.cancel-btn{
    background-color: #fa6464;
    color:#fff;
    font-family:"Roboto",sans-serif;
    font-size:1rem;
    width:7rem;
    height:2.3rem
}
.cert-modal .ant-modal-footer .ant-btn-default.cancel-btn:hover{
    background-color: #f45252;
}

/*SUBMIT BUTTON*/
.cert-modal .ant-modal-footer .ant-btn-default.submit-btn{
    background-color: #565cff;
    color:#fff;
    font-family:"Roboto",sans-serif;
    font-size:1rem;
    width:7rem;
    height:2.3rem
}
.cert-modal .ant-modal-footer .ant-btn-default.submit-btn:hover{
    background-color: #454bfa;
   
}

.add-cert-modal .ant-modal-title {
    font-size: 1.1993rem; 
    width:25rem;
    margin-bottom: 1.5rem;
  }

  .add-cert-label .ant-form-item-label{
    text-align: start !important;
  }

 .add-cert-label .ant-col.ant-form-item-label label{
    font-size:1rem !important;
    letter-spacing: 0.15px !important;
    font-weight: 500 !important;
    color: rgba(76, 78, 100, 0.87)!important;
    font-family:"Roboto",sans-serif;
    margin-bottom: 0.3rem;
   
}

div .upload-btn{
    background-color: #565cff !important;
    margin:2rem 0;
    font-family:"Roboto",sans-serif;
    letter-spacing: 0.15px !important;

}


.up-file{
    display:flex;
    flex-direction: row;
    font-family:"Roboto",sans-serif;
    place-items: center;
    text-align: start;
}

.selected-file{
    color:#4d4d52;
    font-family:"Roboto",sans-serif;

}
.msg{
    background-color: #eee;
    border-radius: 10px;
    margin-left: 1rem;
    padding: 8px;
    color: rgba(25, 26, 31, 0.87);
    font-family:"Roboto",sans-serif;
    font-size: 12px;
    letter-spacing: 0.15px !important;
}



@media (min-width: 271px) and (max-width: 366px) {
    .modal-parent{
        display:flex;
        justify-content: center;
        align-items: center;
        place-items: center;;
    }
    .cert-modal .ant-modal-content{
        height: 24rem !important;
        width:16rem !important;
       
    } 
    .add-cert-label{
        display:flex;
        flex-direction: column;
        place-items: center;
        text-align: center;
    }

     .cert-modal .ant-form .ant-btn-default{
     margin-top: 2px;
    }

    .add-cert-label  .ant-row.ant-form-item-row{
        display:flex !important;
        flex-direction: column !important;
        font-size: 15px;
    }


    /*UPLOAD FILE BUTTON*/
    .cert-modal .ant-form .ant-btn-default{
        background-color: #666CFF;
        color:#fff;
        font-size:14px;
        width:8.5rem;
        height:2rem;
        margin-top:3px;
    }

    .upload-file{
       text-align: center;
    }

    /*CANCEL BUTTON*/
.cert-modal .ant-modal-footer .ant-btn-default.cancel-btn{
    background-color: #fa6464;
    color:#fff;
    font-family:"Roboto",sans-serif;
    font-size:14px;
    width:6rem;
    height:2rem;
    margin-top: 2rem;
    margin-bottom:2rem !important;

}
/*SUBMIT BUTTON*/
.cert-modal .ant-modal-footer .ant-btn-default.submit-btn{
    background-color: #565cff;
    color:#fff;
    font-family:"Roboto",sans-serif;
    font-size:14px;
    width:6rem;
    height:2rem;
    margin-top: 2rem;
}
.add-cert-modal .ant-modal-title {
    font-size: 1rem !important; 
    width:25rem;
    margin-bottom: 1.5rem;
  }

    /*FOOTER*/
    .cert-modal .ant-modal-content .ant-modal-footer{
        text-align: center !important;
        background: transparent !important;
        margin-top: 59px !important;
    } 
  
    .msg{
        background-color: #eee;
        border-radius: 10px;
        margin-left: 1rem;
        padding: 6px;
        color: rgba(25, 26, 31, 0.87);
        font-family:"Roboto",sans-serif;
        font-size: 11px;
        letter-spacing: 0.15px !important;
    }
    .selected-file{
        font-size: 13px;
    }
 
}
@media (min-width: 366px) and (max-width: 765px) {
    .modal-parent{
        display:flex;
        justify-content: center;
        align-items: center;
        place-items: center;;
    }
    .cert-modal .ant-modal-content{
        height: 25.5rem !important;
        width:20rem !important;
       
    } 

    .add-cert-label{
        display:flex;
        flex-direction: column;
        place-items: center;
        text-align: center;
    }

     .cert-modal .ant-form .ant-btn-default{
     margin-top: 2px;
    }

    .add-cert-label  .ant-row.ant-form-item-row{
        display:flex !important;
        flex-direction: column !important;
        font-size: 15px;
        place-items: center;
    }


    /*UPLOAD FILE BUTTON*/
    .cert-modal .ant-form .ant-btn-default{
        background-color: #666CFF;
        color:#fff;
        font-size:14px;
        width:8.5rem;
        height:2rem;
        margin-top:3px;
    }
    .upload-file{
        text-align: center;
     }
    /*CANCEL BUTTON*/
.cert-modal .ant-modal-footer .ant-btn-default.cancel-btn{
    background-color: #fa6464;
    color:#fff;
    font-family:"Roboto",sans-serif;
    font-size:14px;
    width:6rem;
    height:2rem;
    margin-top:10px;
   
}
/*SUBMIT BUTTON*/
.cert-modal .ant-modal-footer .ant-btn-default.submit-btn{
    background-color: #565cff;
    color:#fff;
    font-family:"Roboto",sans-serif;
    font-size:14px;
    width:6rem;
    height:2rem
}
.add-cert-modal .ant-modal-title {
    font-size: 1rem; 
    width:25rem;
    margin-bottom: 1.5rem;
  }

    /*FOOTER*/
    .cert-modal .ant-modal-content .ant-modal-footer{
        text-align: center !important;
        background: transparent !important;
        margin-top: 118px !important;
    } 
    .msg{
        background-color: #eee;
        border-radius: 11px;
        margin-left: 1rem;
        padding: 6px;
        color: rgba(25, 26, 31, 0.87);
        font-family:"Roboto",sans-serif;
        font-size: 11px;
        letter-spacing: 0.15px !important;
    }
    .upload-file div{
        margin-bottom: 5px;
    }
  .up-file{
    display:grid;
  grid-template-columns: 1fr;
    place-items: center;
  }
  .up-file div{
    margin:5px;
  }

 
}